<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="call.css">
    <title>Call Video</title>
</head>
<body>
    <div class="container">
        <div class="frame-display" id="">
            <div class="big-display">
                <video autoplay  id="remote-video"></video>
            </div>
            <div class="small-display" >
                <video autoplay muted="false" id="local-video"></video>
            </div>
            <div class="call-icon">
                <div class="mic"><i class="uil uil-microphone"></i></div>
                <div class="video"><i class="uil uil-video"></i></div>
                <div class="hangup"><i class="uil uil-missed-call"></i></div>
            </div>
        </div>

    </div>
</body>
</html>