<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App chat</title>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="index.js"></script>
</head>
<body>
    <div class="nav">
        <div class="search-name" id="acticve-icon">
            <i class="uil uil-arrow-left arrow-icon" ></i>
            <input  id="myInput"  class="search-input" name="search" placeholder="Search..." onclick = "searchFriend()"  onkeyup="search()">
            <i class="uil uil-search search-icon"></i>
        </div>
        <div class="header">
            <h3 class="header-title" id="name-login">
            </h3>

        </div>
        <div class="list-icon">
            <div class="icon">
                <i class="uil uil-comment-alt-message"></i>
                <span id="n-mes" class="num">2</span>
            </div>
            <div class="icon">
                <i class="uil uil-bell" onclick="clickAddFriend('noti-contener')"></i>
                <span id="n-thong-bao" class="num">2</span>
                <div class="modal-noti" id="noti-contener">
                    <h3 class="title-modal-noti">
                        Thông báo
                    </h3>
                    <div class="data-modal-noti">
                        <ul>
                            <!-- <li class="item-noti">
                                <img src="images/user.png" alt="" class="img-noti">
                                 <div>
                                    <div class="over-text">
                                        <span class="info-noti">Linh đã gửi lời mời kết bạn</span>
                                    </div>
                                    <span class="time">7:50am</span>
                                 </div>
                            </li>
                            <li class="item-noti">
                                <img src="images/user.png" alt="" class="img-noti">
                                 <div>
                                    <div class="over-text">
                                        <span class="info-noti">Linh đã gửi lời mời kết bạn</span>
                                    </div>
                                    <span class="time">7:50am</sp>
                                 </div>
                            </li>
                            <li class="item-noti">
                                <img src="images/user.png" alt="" class="img-noti">
                                 <div>
                                    <div class="over-text">
                                        <span class="info-noti">Linh đã gửi lời mời kết bạn</span>
                                    </div>
                                    <span class="time">7:50am</span>
                                 </div>
                            </li> -->
                        </ul>
                    </div>

                </div>
            </div>
            <div class="icon">
                <i class="uil uil-user-plus" onclick="clickAddFriend('add-contener')"></i>
                <span id="n-bell" class="num">2</span>
                <div class="modal-noti" id="add-contener">
                    <h3 class="title-modal-noti">
                        Lời mời kết bạn
                    </h3>
                    <div class="data-modal-add">
                        <ul>
                            <li class="item-noti">
                                <img src="images/user.png" alt="" class="img-noti">
                                <div>
                                    <div class="over-text">
                                        <span class="info-noti">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)</span>
                                    </div>
                                    <div>
                                        <button class="button cn">Chấp nhận</button>
                                        <button class="button dl">Xoá</button>
                                    </div>
                                </div>
                             </li>

                            <li class="item-noti">
                                <img src="images/user.png" alt="" class="img-noti">
                                <div>
                                    <div class="over-text">
                                        <span class="info-noti">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)</span>
                                    </div>
                                    <div>
                                        <button class="button cn">Chấp nhận</button>
                                        <button class="button dl">Xoá</button>
                                    </div>
                                </div>
                             </li>
                             <li class="item-noti">
                                 <img src="images/user.png" alt="" class="img-noti">
                                 <div>
                                     <div class="over-text">
                                         <span class="info-noti">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)</span>
                                     </div>
                                     <div>
                                         <button class="button cn">Chấp nhận</button>
                                         <button class="button dl">Xoá</button>
                                     </div>
                                 </div>
                             </li>
                             <li class="item-noti">
                                 <img src="images/user.png" alt="" class="img-noti">
                                 <div>
                                     <div class="over-text">
                                         <span class="info-noti">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)</span>
                                     </div>
                                     <div>
                                         <button class="button cn">Chấp nhận</button>
                                         <button class="button dl">Xoá</button>
                                     </div>
                                 </div>
                             </li>
                             <li class="item-noti">
                                 <img src="images/user.png" alt="" class="img-noti">
                                 <div>
                                     <div class="over-text">
                                         <span class="info-noti">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)</span>
                                     </div>
                                     <div>
                                         <button class="button cn">Chấp nhận</button>
                                         <button class="button dl">Xoá</button>
                                     </div>
                                 </div>
                             </li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="icon">
                <i class="uil uil-signout"></i>
            </div>
        </div>
    </div>
    <div class="container-fluid margin-container">

        <div class="row">
            <div class="col-sm-3 left">
                <div class="header-left">
                    <div class="left-content">
                        <!-- <div class="list-items">
                            <div class="item-search">
                            <h3 class="title-center">
                                title dai
                            </h3>
                            <div class="button" onclick="">Thêm</div>
                            </div>
                        </div>
                        <div class="list-items">
                            <div class="item-search">
                            <h3 class="title-center">
                                title dai
                            </h3>
                            <div class="button" onclick="">Thêm</div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-sm-6">

                <div class="center">
                    <div class="center-top">
                        <div class="inf-receiver">
                            <h3 class="title-center">
                                Nguyen Van B
                            </h3>
                            <p class="subtitle-center">
                                Dang hoat dong
                            </p>
                        </div>

                    </div>
                    <div class="frame-chat style-1" id="out">
                        <div class="chat-list" >

                            <div class="chat bubble-left">Tin nhan 1</div>
                               <div class="chat bubble-right">Tin nhan 2</div>
                            <div class="chat bubble-left">Tin nhan 3</div>
                            <div class="chat bubble-right">Tin nhan 4</div>
                            <div class="chat bubble-right">Tin nhan 4</div>

                            <div class="chat bubble-right">Tin nhan 4</div>
                            <div class="chat bubble-right">Tin nhan 4</div>
                            <div class="chat bubble-right">Tin nhan 4</div>

                            <div class="chat bubble-right">Tin nhan 4</div>
                            <div class="chat bubble-right">Tin nhan 4</div><div class="chat bubble-right">Tin nhan 4</div>

                            <div class="chat bubble-right">Tin nhan 4</div>
                            <div class="chat bubble-right">Tin nhan 4</div><div class="chat bubble-right">Tin nhan 4</div>

                            <div class="chat bubble-right">Tin nhan 4</div>
                            <div class="chat bubble-right">Tin nhan 4</div>
                        </div>
                    </div>
                    <div class="center-bot">
                        <input class="typing-input" name="search" placeholder="Aa" >
                        <div class="send-chat">
                            <i class="uil uil-message"></i>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-3">
                <div class="right">
                    <div class="header-right">
                        <h4 class="right-title">Người liên hệ</h4>
                    </div>
                    <div class="list-data">
                        <ul class="list-status">
                            <!-- <li class="item-status">
                                <div class="user-ava">
                                    <div>
                                        <img src="images/user.png" alt="" class="img-friend">
                                        <span class="status"></span>
                                    </div>
                                </div>
                                <div class="info-status">
                                    <h3>Linh</h3>
                                    <p>Linh typing..</p>
                                </div>
                            </li>
                            <li class="item-status">
                                <div class="user-ava">
                                    <div>
                                        <img src="images/user.png" alt="" class="img-friend">
                                        <span class="status"></span>
                                    </div>
                                </div>
                                <div class="info-status">
                                    <h3>Linh</h3>
                                    <p>Linh typing..</p>
                                </div>
                            </li>
                            <li class="item-status">
                                <div class="user-ava">
                                    <div>
                                        <img src="images/user.png" alt="" class="img-friend">
                                        <span class="status"></span>
                                    </div>
                                </div>
                                <div class="info-status">
                                    <h3>Linh</h3>
                                    <p>Linh typing..</p>
                                </div>
                            </li>
                            <li class="item-status">
                                <div class="user-ava">
                                    <div>
                                        <img src="images/user.png" alt="" class="img-friend">
                                        <span class="status"></span>
                                    </div>
                                </div>
                                <div class="info-status">
                                    <h3>Linh</h3>
                                    <p>Linh typing..</p>
                                </div>
                            </li>
                            <li class="item-status">
                                <div class="user-ava">
                                    <div>
                                        <img src="images/user.png" alt="" class="img-friend">
                                        <span class="status"></span>
                                    </div>
                                </div>
                                <div class="info-status">
                                    <h3>Linh</h3>
                                    <p>Linh typing..</p>
                                </div>
                            </li>
                            <li class="item-sta tus">
                                <div class="user-ava">
                                    <div>
                                        <img src="images/user.png" alt="" class="img-friend">
                                        <span class="status"></span>
                                    </div>
                                </div>
                                <div class="info-status">
                                    <h3>Linh</h3>
                                    <p>Linh typing..</p>
                                </div>
                            </li> -->

                        </ul>
                    </div>
                </div>
            </div>


          </div>
    </div>
    <script>
       var element = document.getElementById("out");
        element.scrollTop = element.scrollHeight;



    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>