
<!doctype html>
<html>
<head>
<title>Đăng nhập</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- fonts -->

<!-- /fonts -->
<!-- css -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="sigin.css" rel='stylesheet' type='text/css' media="all" />
<!-- sign up js -->
<script src="socket.io/socket.io.js"></script>

<script src="signup.js"></script>

<!-- /css -->
</head>
<body>


    <div class="container right-panel-active">

        <!-- Sign Up -->
        <div class="container__form container--signup">
            <div class="form">
                <h2 class="form__title">Đăng ký</h2>
                <input type="text" placeholder="Tên đăng nhập"  class="input" id="exampleInputName1"/>
                <input type="password" placeholder="Mật khẩu" class="input" id="exampleInputPassword1"/>
                <input type="password" placeholder="Nhập lại mật khẩu" class="input" id="exampleConfirmPassword1"/>
                <button class="btn" onclick="dangKy()">Đăng ký</button>
            </div>
        </div>
        <!-- Sign In -->
        <div class="container__form container--signin content-agile2">
            <form action="" method="POST" class="form">
                <h2 class="form__title">Đăng nhập</h2>
                <input type="text" placeholder="Tên đăng nhập" name="name" class="input" id="email"  title="Vui lòng nhập UserName" required=""/>
                <input type="password" placeholder="Mật khẩu" name="pass" class="input" id="password1" title="Vui Lòng nhập password" required=""/>
                <a href="#" class="link">Quên mật khẩu</a>
                <!-- <button class="btn">Đăng nhập</button> -->
                <input type="submit" class="register btn"  value="Đăng Nhập">
            </form>
        </div>

        <!-- Overlay -->
        <div class="container__overlay">
            <div class="overlay">
                <div class="overlay__panel overlay--left">
                    <button class="btn" id="signIn">Đăng nhập</button>
                </div>
                <div class="overlay__panel overlay--right">
                    <button class="btn" id="signUp">Đăng ký</button>
                </div>
            </div>
        </div>
    </div>


<script>

    //sytle
    const signInBtn = document.getElementById("signIn");
    const signUpBtn = document.getElementById("signUp");
    const container = document.querySelector(".container");
    container.classList.remove("right-panel-active");
    signInBtn.addEventListener("click", () => {
    container.classList.remove("right-panel-active");
    });
    signUpBtn.addEventListener("click", () => {
    container.classList.add("right-panel-active");
    });
</script>
<!-- <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script> -->
<link href="//fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
</body>
</html>