* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
video {
  width: 100%;
  height: 100%;
}
.big-display {
  background-color: black;
  width: 100vw;
  height: 100vh;
}
.frame-display {
  position: relative;
}
.small-display {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: auto;
  height: 25%;
  border-radius: 10px;
  box-shadow: 0 0 10px #fff;
}
.call-icon {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}
.call-icon div {
  font-size: 40px;
  margin-left: 10px;
  margin-right: 10px;
}
/* ----------------------model ------------------- */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
#modal-btn-call {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4a4e51;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  padding: 20px;
}
#modal-btn-call p {
  margin-right: 20px;
  color: white;
}
#modal-btn-call div {
  display: flex;
  color: #fff;
  font-size: 40px;
  width: 100px;
  height: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  box-shadow: 0 0 10px rgb(17, 230, 17);
  background-color: rgb(17, 230, 17);
}
#modal-btn-call div:hover {
  opacity: 0.8;
  cursor: pointer;
}
#remoteVideo {
  width: 100vw;
}
.call-icon div {
  display: none;
  color: #fff;
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background-color: #4a4e51;
}
.call-icon div:hover {
  opacity: 0.7;
  cursor: pointer;
}
.call-icon div.hangup {
  width: 70px;
  height: 47px;
  border-radius: 24px;
  background-color: red;
}
.frame-display:hover .call-icon div {
  display: flex;
}
