@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --hue-color: 230;

  --color-hover: #4f9fe9;
  --text-color: #eff1f0;
  --input-color: #1d1f1e;
  --body-color: #161719;
  --subtitle-color: #818284;
  --icon-color: #67686a;

  /* Font and typography */
  --body-font: "Poppins", sans-serif;
  /* * .5rem = 8px, 1rem = 16px, 1.5rem = 24px.. */
  --big-font-size: 2rem;
  --h1-font-size: 32px;
  --h2-font-size: 24px;
  --h3-font-size: 18.72px;
  --h4-font-size: 16px;
  --h5-font-size: 13.28px;

  --normal-font-size: 15px;
  --small-font-size: 13px;
  --smaller-font-size: 12px;

  --height-fixed: calc(100vh - 80px - 72px - 46px);
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}
h1,
h2,
h3,
h4,
h5 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  padding: 0;
  margin: 0;
}
p {
  padding: 0;
  margin: 0;
}
h2 a {
  text-decoration: none;
}
li {
  list-style: none;
  height: auto;
}
button:focus {
  outline: 0;
}

/* navigation */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 80px;
  width: 100%;
}

.search-input {
  width: 100%;
  background-color: var(--input-color);
  color: var(--text-color);
  border: 1px;
  border-radius: 10px;
  padding: 6px 32px;
  font-family: var(--body-font);
  outline: none;
}
.left {
  margin-top: 10px;
  padding-right: 0px;
}
.left-content {
  height: calc(var(--height-fixed) + 104px);
  overflow: auto;
}
.header {
  display: flex;
  justify-content: space-between;
}
.header-title {
  font-size: var(--h2-font-size);
}
.header-icon {
  font-size: var(--h2-font-size);
}
.search-name {
  position: relative;
  display: flex;
}

/* .arrow-icon, */
.search-icon {
  position: absolute;
  top: 6px;
  left: 10px;
}

.item {
  margin: 10px 0px;
}
.title-item {
  font-size: var(--h3-font-size);
}
.inf-receiver {
  margin-left: 15px;
  margin-top: 15px;
}
.subtitle-item {
  margin-top: 10px;
  font-size: var(--small-font-size);
}
.title-center {
  font-size: var(--h3-font-size);
  margin: 0;
}
.subtitle-center {
  font-size: var(--small-font-size);
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.list-icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.icon {
  position: relative;
  margin-right: 20px;
}
.num {
  border-radius: 100%;
  position: absolute;
  top: -3px;
  right: -3px;
  width: 20px;
  height: 20px;
  background-color: red;
  text-align: center;
}

.icon > i {
  font-size: 30px;
  padding: 6px;
}
#name-login {
  margin-bottom: 0;
  margin-right: 20px;
}
.frame-chat {
  height: var(--height-fixed);
  /* transform: rotate(180deg); */
  overflow: auto;
}
.center {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.margin-top {
  margin-top: 20px;
}
.bubble-left,
.bubble-right {
  line-height: 100%;
  display: block;
  position: relative;
  padding: 0.25em 0.5em;
  border: transparent solid 1px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  margin-bottom: 2em;
  clear: both;
  max-width: 50%;
}

.bubble-left {
  background: #242526;
  float: left;
  margin-left: 10px;
}
.bubble-right {
  float: right;
  margin-right: 10px;
  background-color: #4f9fe9;
}
.center-bot {
  display: flex;
  align-items: center;
}
.send-chat {
  font-size: var(--h2-font-size);
  padding: 5px 10px;
}
.typing-input {
  width: 100%;
  background-color: var(--input-color);
  color: var(--text-color);
  border: 1px;
  border-radius: 10px;
  padding: 5px 15px;
  font-family: var(--body-font);
  outline: none;

  margin: 8px 10px;
}
.item-search {
  padding: 10px;
  border-bottom: 0.01px solid #fff;
}

/* arrow-icon */
.arrow-icon {
  margin-right: 8px;
  font-size: var(--h2-font-size);
  display: none;
}
.search-name.ass .arrow-icon {
  display: block;
}
.search-name.ass .search-icon {
  left: 40px;
}
.right-title {
  margin: 10px 0;
  font-size: var(--h3-font-size);
}
.item-status {
  display: flex;
  align-items: center;
}
.list-data {
  height: calc(100vh - 122px);
  overflow: auto;
}
.img-friend {
  height: 40px;
  border-radius: 100%;
}
.user-ava > div {
  position: relative;
}
.status {
  position: absolute;
  z-index: 2;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #0abf53;
  bottom: 0;
  right: 5px;
}
.user-ava {
  margin-right: 15px;
}
.info-status h3 {
  font-size: var(--h3-font-size);
}
.info-status p {
  font-size: var(--small-font-size);
}
.item-status:not(:first-child) {
  padding: 10px 0px;
}
/* scrollbar  */
.data-modal-noti::-webkit-scrollbar,
.list-data::-webkit-scrollbar,
.left-content::-webkit-scrollbar,
.style-1::-webkit-scrollbar {
  width: 10px;
  border-radius: 8x;
  background-color: transparent;
}
.data-modal-noti::-webkit-scrollbar-thumb,
.list-data::-webkit-scrollbar-thumb,
.left-content::-webkit-scrollbar-thumb,
.style-1::-webkit-scrollbar-thumb {
  background-color: var(--subtitle-color);
  border-radius: 0.5rem;
}
.modal-noti {
  display: none;
  width: 350px;
  max-height: 400px;
  position: absolute;
  top: 45px;
  right: 0px;
  z-index: 9;
  background-color: #242526;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
}
.modal-noti.acc {
  display: block;
}
.img-noti {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}
.button {
  display: inline-block;
  outline: none;
  text-align: center;
  border: none;
  width: 100px;
  padding: 8px;
  border-radius: 15px;
  background: transparent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  margin-top: 4px;
}
.button.cn:focus {
  background-color: blue;
}
.button.cn {
  color: white;
}
.button.dl {
  /* background-color: white; */
  color: rgb(158, 158, 158);
}
.button.dl:focus {
  background-color: red;
}
.title-modal-noti {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 8px 0;
  text-align: center;
  margin-bottom: 15px;
  font-size: var(--h2-font-size);
}
.item-noti {
  display: flex;
  align-items: center;
  padding: 5px;
}
.info-noti {
}
.over-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.data-modal-noti {
  max-height: 320px;
  overflow: auto;
}
